*{
  box-sizing: border-box;
}

.header{
   height: 70px;
   background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-style: solid;
   border-color: #3e8cd1;
}

.logo-container{
  display: flex;
  align-items: center;
}

.img-logo{
   height:30px;
   width: 40px;
  margin:0px 10px 0px 20px;
  

}

.logo-text{
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.project-title{
  margin-right: 25px;
  color: white;
}

.meme-container{
 

  display: flex;
  flex-direction: column;
 background-color:rgb(59, 57, 57) ;
 


}

@media screen and (min-width: 800px) {
  .meme-container {
    padding:50px 300px 0px 300px;
  }
}

@media screen and (max-width: 800px) {
  .meme-container {
    padding:50px 50px 0px 50px;
  }
}








.meme-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  


  
 
  
}


.meme-input1,
.meme-input2 {
 
 min-width:100px; 
 width: 900px;
  margin:0px 10px 20px 10px;
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  text-indent: 20px;
  font-size: 25px;
  


  
  
}



.btn{
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(166, 174, 179);
  color: white;
  margin: 0px 5px;
  font-size: 25px;
  cursor: pointer;
  background-color:  #5D9FFF;

}

.btn:hover{
  background: #699ff1;
  box-shadow: 2px 2px rgba(81, 5, 70, 0.2);
}

.btn:active{
  background:  #95baf2;
}

.memeimg-container{
  margin: 10px 5px;
 

}

.meme-image{

  border-style: solid;
  border-color: rgb(118, 112, 115);
  width: 100%;
  border-radius: 10px;
  height: 420px;
}

.count-container{
   display: flex;
   flex-direction: row;
   background-color: black;
   align-items: center;
   justify-content: center;
   padding: 300px;

}

.count{
    background-color: rgb(94, 95, 95);
    width: 100px;
    height: 100px;
   text-align: center;
    border-radius: 50%;
    
    
}

.count h1{
  padding-left: 30px;
 
 
}

.count-container button{
   color: white;
   background-color: rgb(47, 46, 46);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-top: 60px;


}

.counter-plus{
  margin-left: -20px;
}

.counter-minus{
  margin-right:-20px;
  z-index: 1;
}

.squares{
  display: inline-block;
  margin-right: 2px;
  border-style: solid;
  border-color: #5D9FFF;
  width: 200px;
  height: 200px;
}

.form-container{
    margin: 40px;
    text-indent: 10px;
    font-size: 16px;
   
   
    
}

.form-container input{
  margin:5px;
  display: block;
}

