*{
  box-sizing: border-box;
}

.header{
   height: 70px;
   background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo-container{
  display: flex;
  align-items: center;
}

.img-logo{
   height:30px;
   width: 40px;
  margin:0px 10px 0px 20px;
  

}

.logo-text{
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.project-title{
  margin-right: 25px;
  color: white;
}

.meme-container{
 

  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
 


}

@media screen and (min-width: 800px) {
  .meme-container {
    padding:50px 300px 0px 300px;
  }
}

@media screen and (max-width: 800px) {
  .meme-container {
    padding:50px 50px 0px 50px;
  }
}








.meme-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  


  
 
  
}


.meme-input1,
.meme-input2 {
 
 min-width:100px; 
 width: 900px;
  margin:0px 10px 20px 10px;
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  text-indent: 20px;
  font-size: 25px;
  


  
  
}



.btn{
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(166, 174, 179);
  color: white;
  margin: 0px 5px;
  font-size: 25px;
  cursor: pointer;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.btn:hover{
  background: #6e1290;
  box-shadow: 2px 2px rgba(81, 5, 70, 0.2);
}

.btn:active{
  background: #a614dc;
}

.memeimg-container{
  margin: 10px 5px;
 

}

.meme-image{

  border-style: solid;
  border-color: rgb(118, 112, 115);
  width: 100%;
  border-radius: 10px;
  height: 420px;
}