*{
  box-sizing: border-box;
}

.header{
   height: 70px;
   background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo-container{
  display: flex;
  align-items: center;
}

.img-logo{
   height:30px;
   width: 40px;
  margin:0px 10px 0px 20px;
  

}

.logo-text{
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.project-title{
  margin-right: 25px;
  color: white;
}

