.container{
   border-radius: 5px;
   background-color: antiquewhite;
   max-width: 1500px;
   height: 800px;
   display: grid;
   grid-template: auto auto /repeat(5, 1fr)  ;
   
  
   
 

}

.die-container{
    background-color:white ;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 40px;
   
}

