
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    
   
    
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
    margin-bottom:0;
    border-style: none;
    box-shadow:20px 20px rgba(0,0, 0, 1);
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
  color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #9dc5ed;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 10px;
}


.main-title{
   
    font-weight:700;
   margin: 0px;
   font-size:39px ;
   padding-left: 50px;
   letter-spacing:1px ;
   
}

.container{
    
    margin: 0px;
    padding: 50px 20px;
    background-image:url(./imgs/react-background.png) ;
    background-repeat: no-repeat;
    background-position: right -11% top 70% ;


  

}

.lists{
    font-size: 24px;
    max-width: 600px;
}

.lists li{
   line-height: 50px;
   
}

.lists li::marker{
    font-size: 30px;
    color:#61DAFB; ;
}



input[type="checkbox"].toggle{
    display: none;
    
    
}
input[type="checkbox"].toggle + label{
    display:flex;
    align-items: center ;
}



input[type="checkbox"].toggle + label::before{
    background-color: rgb(151, 147, 147);
    width: 50px;
    height: 20px;
    content: "";
    margin: 0px 14px;
    border-radius: 20px;
    padding: 0;
}

input[type="checkbox"].toggle + label::after{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 20px;
    content: "";
    margin: 0px 14px;
    border-radius: 50%;
}

input[type="checkbox"].toggle:checked + label::after{
     transform: translate(100%);
    background-color: rgb(0, 0, 0);
    
}


input[type="checkbox"].toggle:checked + label::before{
    background-color: rgb(78, 77, 77);
}
    