
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    
   
    
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
    margin-bottom:0;
    border-style: none;
    box-shadow:20px 20px rgba(0,0, 0, 1);
}

nav.dark{
    background-color: black;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
  color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #9dc5ed;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 10px;
}

.toggle-container{
    margin-left: 50px;
    display: flex;
    font-size: 12px;
    align-items: center;
    
}

.toggle-slider{
    
    background-color: black;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    margin: 0 5px;
   
}

.toggle-circle{
    margin-right: -26px;
    background-color: rgb(253, 247, 247);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 999;
    
    

}

nav.dark .toggle-slider{
    background-color: white;
}

nav.dark .toggle-circle{
    background-color: rgb(5, 0, 0);
    margin-right: -54px;
}


.main-title{
   
    font-weight:700;
   margin: 0px;
   font-size:39px ;
   padding-left: 50px;
   letter-spacing:1px ;
   
}

.container{
    
    margin: 0px;
    padding: 50px 20px;
    background-image:url(./imgs/react-background.png) ;
    background-repeat: no-repeat;
    background-position: right -11% top 70% ;


  

}

.lists{
    font-size: 24px;
    max-width: 600px;
}

.lists li{
   line-height: 50px;
   
}

.lists li::marker{
    font-size: 30px;
    color:#61DAFB; ;
}



